<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar class="toolbar">

    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>
          menu
      </mat-icon>
    </button>

    {{ pageTitle | translate }}

  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">

    <mat-sidenav #sidenav
                 [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches"
                 fixedTopGap="56">

        <button mat-button class="menu-button"
                (click)="sidenav.toggle(); goToMovies()">

                <span>
                  {{ moviesButtonConfig.label | translate }}
                </span>
                <mat-icon>
                  arrow_right_alt
                </mat-icon>
        </button>

        <button mat-button class="menu-button">
            <span>{{ actorsButtonConfig.label | translate }}</span>
            <mat-icon>arrow_right_alt</mat-icon>
        </button>

        <button mat-button class="menu-button">
            <span>{{ companiesButtonConfig.label | translate }}</span>
            <mat-icon>arrow_right_alt</mat-icon>
        </button>

        <mat-divider></mat-divider>

    </mat-sidenav>

    <mat-sidenav-content>

      <router-outlet></router-outlet>

    </mat-sidenav-content>

  </mat-sidenav-container>

</div>