<div class="spinner-container"
     [class.fixed]="fixed"
     [class.absolute]="absolute"
     [class.background]="background"
     *ngIf="show">

  <mat-spinner class="spinner-position" [diameter]="size">
  </mat-spinner>

</div>