$pgb: #42c8cb;

.spinner-container {
  z-index: 1;

  &.fixed {
    position: fixed;
    @extend .centered-spinner;
  }

  &.absolute {
    position: absolute;
    @extend .centered-spinner;
  }

  &.background {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .-spinner-position {
    z-index: 2;
  }

}

.centered-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
}

::ng-deep .mat-progress-spinner circle, ::ng-deep .mat-spinner circle {
  stroke: $pgb;
}
