<mig-spinner [show]="isLoading" [fixed]="true" [background]="true"></mig-spinner>

<form fxFlex
      fxLayout="column"
      fxLayoutAlign="space-between"
      id="create-new-movie-form"
      class=""
      [formGroup]="formGroup"
      *ngIf="!isLoading">

    <div fxFill
         fxLayout="column"
         fxLayoutGap="8px">

          <mat-form-field appearance="fill">
            <mat-label>
              {{ titleConfig.label | translate }}
            </mat-label>
            <input matInput [formControl]="getFormControl(titleConfig.name)">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>
              {{ posterConfig.label | translate }}
            </mat-label>
            <input matInput [formControl]="getFormControl(posterConfig.name)">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{ genreConfig.label | translate }}</mat-label>
            <mat-chip-list #chipList aria-label="genreConfig.id">
              <mat-chip *ngFor="let genre of getFormControl(genreConfig.name).value" (removed)="removeGenre(genre)">
                {{genre}}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
              <input placeholder="{{genreConfig.placeHolder | translate}}"
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="addGenre($event)">
            </mat-chip-list>
          </mat-form-field>

          <mat-form-field appearance="fill">

            <mat-label>
              {{ actorsConfig.label | translate }}
            </mat-label>

            <mat-select formControlName="{{actorsConfig.name}}" multiple>
              <mat-option *ngFor="let actor of actors" [value]="actor">{{ actor.first_name }} {{ actor.last_name }}</mat-option>
            </mat-select>

            <mat-chip-list aria-label="actorsConfig.id">
              <mat-chip *ngFor="let actorArray of getFormControl(actorsConfig.name).value">
                {{ actorArray.first_name}} {{ actorArray.last_name }}
              </mat-chip>
            </mat-chip-list>

          </mat-form-field>

          <mat-form-field appearance="fill">

            <mat-label>
              {{ companyConfig.label | translate }}
            </mat-label>

            <mat-select formControlName="{{companyConfig.name}}">
              <mat-option *ngFor="let company of companies" [value]="company">{{ company.name }}</mat-option>
            </mat-select>

          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>
              {{ yearConfig.label | translate }}
            </mat-label>
            <input matInput type="number" [formControl]="getFormControl(yearConfig.name)" min="1800" max="2022">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>
              {{ durationConfig.label | translate }}
            </mat-label>
            <input matInput type="number" [formControl]="getFormControl(durationConfig.name)" min="0">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>
              {{ scoreConfig.label | translate }}
            </mat-label>
            <input matInput type="number" [formControl]="getFormControl(scoreConfig.name)" min="0.0" max="10.0">
          </mat-form-field>

          <button (click)="onSubmit()" mat-raised-button color="primary" [class.spinner]="submitIsLoading" [disabled]="!isFormValid()">{{ primaryButtonConfig.label | translate }}</button>

    </div>
</form>
