.movie-details {
	margin-top: 52px;
	justify-content: center;
	align-items: center;
  position: relative;
  min-width: 380px;
  min-height: 166px;
}

.image-section {
	padding: 20px;
	min-width: 100%;
	max-width: 100%;
}

.info-section {
	padding: 20px;
	min-width: 100%;
	max-width: 100%;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;

	&-edit {
		background-color: green;
		right:105px;
	}

	&-delete {
		background-color: red;
		right:40px;
	}
}
