
    <h2 mat-dialog-title>
      {{ 'mig.movies.deleteConfirmation.title' | translate }}
    </h2>
    <mat-dialog-content class="mat-typography">
      {{ messageConfig.label | translate }}
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close> {{ cancelButtonConfig.label | translate }}</button>
      <button (click)="onDeleteMovie()" mat-button [mat-dialog-close]="true" cdkFocusInitial>{{ deleteButtonConfig.label | translate }}</button>
    </mat-dialog-actions>