.content {
  padding: 16px;
}

.content > mat-card {
  margin-bottom: 16px;
}

.mat-card {
  max-height: 550px;
  min-height: 375px;
}

::ng-deep.mat-card-header .mat-card-title {
  max-height: 62px;
  min-height: 62px;
}

.image {
  max-height: 280px;
  min-height: 280px;
  position: relative;
  left: 0;
  filter: drop-shadow(-6px 10px 23px rgba(black, 0.5));
}