<mat-card class="mat-elevation-z4" (click)="onCard()">

  <mat-card-header>

    <mat-card-title class="title">
      {{ movie.title | translate }}
    </mat-card-title>

  </mat-card-header>

  <mat-card-content class="content">

    <img mat-card-image src="{{movie.poster}}" class="image">

    <div>

      <span *ngFor="let genre of movie.genre">
            #{{ genre }}
      </span>

    </div>

  </mat-card-content>

</mat-card>
