<mig-spinner [show]="isLoading" [fixed]="true" [background]="true"></mig-spinner>

<section class="movie-details"
         *ngIf="!isLoading">

  <div class="movie-details-image-section">

    <img mat-card-image src="{{movie?.poster}}" class="movie-details-image-section-pic">

    <div class="movie-details-image-section-details"
         fxLayoutGap="40px"
         fxLayoutAlign="first end"
         fxFlex>

      <mig-detail-data class="movie-details-image-section-details-field"
                       label="mig.movies.detailPage.score"
                       [labelWidth]="'20px'"
                       [values]="[movie.imdbRating?.toString()]">
      </mig-detail-data>

      <mig-detail-data class="movie-details-image-section-details-field"
                       label="mig.movies.detailPage.duration"
                       [labelWidth]="'20px'"
                       [values]="[movie.duration?.toString()]">
      </mig-detail-data>

    </div>

  </div>

  <div class="movie-details-details">

    <mig-detail-data *ngIf="actorsInMovie.length > 0"
                     class="movie-details-details-field"
                     label="mig.movies.detailPage.actors"
                     [values]="actorsInMovie">
    </mig-detail-data>

    <mig-detail-data *ngIf="companyInMovie"
                      class="movie-details-details-field"
                     label="mig.movies.detailPage.company"
                     [values]="[companyInMovie]">
    </mig-detail-data>

    <mig-detail-data *ngIf="movie?.genre"
                     class="movie-details-details-field"
                     label="mig.movies.detailPage.genre"
                     [values]="movie.genre">
    </mig-detail-data>
  </div>

  <div>

      <button (click)="onEditMovie()" mat-fab color="primary" class="float float-edit">
        <mat-icon>edit</mat-icon>
      </button>

      <button (click)="onDeleteMovie()" mat-fab color="primary" class="float float-delete">
        <mat-icon>delete</mat-icon>
      </button>

  </div>

</section>
