@mixin bp($bp,
  $min-max: min-width){
    $em: $bp/16;
    @media(#{$min-max}: #{$em}em){
      @content;
    }
}

$textColor: #444444;
$gray: #bbb;
$bg: whitesmoke;
$pgb: #42c8cb;
$pgt: #6bffc8;
$dot: #349a98;
$bgb: #ff4164;
$bgt: #ff886b;

.movie-details {
	margin-top: 64px;
  justify-content: center;
  flex-direction: column;
  align-items: center;

	&-image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, $pgt 0%, $pgb 100%);
    border-radius: 20px 20px 0 0;
    padding: 55px 0;
    width: 100%;
    margin: auto;

		&-pic{
			max-width: 380px;
			position: relative;
			left: 0;
			margin: 40px 0;
			filter: drop-shadow(-6px 40px 23px rgba(black, 0.5));
		}

		&-details{
			max-width: 380px;
			position: relative;
			display: flex;
		}
	}

	&-details {
			padding: 40px;
			background-color: $bg;
			border-radius: 0 0 20px 20px;

			display: flex;
			flex-direction: column;
			width: 100%;
			>div{
				flex: 1;
			}
			&-field{
				margin-top: 12px;
				display: inline-block;
				position: relative;
				&:hover{
					color: $textColor;
				}
			}
	}
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	color:$bg;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px $gray;

	&-edit {
		background-color: $pgb;
		right:105px;
	}

	&-delete {
		background-color: $bgb;
		right:40px;
	}
}

@include bp(900){
  .movie-details {
    display: flex;
    flex-direction: row;
    align-items: normal;
    margin-top: 64px;
  }
  .movie-details-image-section {
    border-radius: 20px 0 0 20px;
    max-width: 480px;
  }
}
