/* You can add global styles to this file, and also import other style files */

$textColor: #444444;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@mixin fontBase() {
  color: $textColor;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  line-height: 1;
}

.text-1 {
  @include fontBase();
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
}

.text-2 {
  @include fontBase();
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
}

.word-break {
  word-break: break-word;
}