<mig-spinner [show]="isLoading" [fixed]="true" [background]="true"></mig-spinner>

<div class="content"
     *ngIf="!isLoading">

  <div id="movie-grid"
       fxLayout="row wrap"
       fxLayoutGap="16px grid">

      <div fxFlex="25%"
           fxFlex.xs="100%"
           fxFlex.sm="33%"
           *ngFor="let movie of movies">

          <mig-movie-card [movie]="movie">
          </mig-movie-card>

      </div>

  </div>

  <button (click)="goToAddMovie()" mat-fab color="primary" class="float">
    <mat-icon>add</mat-icon>
  </button>
</div>
