$pgb: #42c8cb;

@mixin bp($bp,
  $min-max: min-width){
    $em: $bp/16;
    @media(#{$min-max}: #{$em}em){
      @content;
    }
}

.content {
  padding: 16px;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color: $pgb;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

@include bp(900){
  .movie-details {
    display: flex;
    flex-direction: row;
    align-items: normal;
    margin-top: 64px;
  }
  .movie-details-image-section {
    border-radius: 20px 0 0 20px;
    max-width: 480px;
  }
}